@charset "utf-8";
/* CSS Document */
body {
	margin:0px;
}

#cabeca {
	background-color:#e61823; 
	width:100%; 
	height:100px;
	padding:1.5%;
}

#logo {
	background-color:#ffffff; 
	width:300px; 
	height:100px;
	float:left;
	display:inline-block;
}

#menu {
	background-color:#ffffff;
	width:660px; 
	height:60px;
	float:right;
	display:inline-block;
	border-radius: 10px;
	margin-right: 37px;
	padding: 20px;
}

ol, ul {
    list-style: none;
}
nav {
	font-family: 'PT Sans';
	float: right; 
	margin-right: 40px;
}
li {
    font-size: 20px;
	font-family: 'PT Sans';
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	color: #000000;
}
li:hover {
    border-bottom: 2px solid #c31c1c;
}
/*li:hover {
	margin-bottom: 10px;
    border-bottom: 2px solid #ffff00;
}*/
a {
	text-decoration: none;
	color: #ffffff;
}
a:hover {
	text-decoration: none;
	color: #c31c1c;
	border-bottom: 2px solid #c31c1c;
}
#corpo {
	background-color:#2f2f2c; 
	width:100%; 
	height:750px;
	padding:1.5%;
}
#rodape {
	background-color:#c31c1c; 
	width:100%; 
	height:60px;
	padding: 1.5%;
}
.contato {
    background-color:#2f2f2c; 
      width:100%; 
      height:80vh;
    padding: 20px 0;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
  
form input,
form textarea {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #c31c1c;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
}
  
form textarea {
    resize: none;
    max-height: 200px;
}
  
form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}
  
form .btn-enviar input {
    width: 120px;
    background-color: #c31c1c;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}
.interface h2 {
	color: #ffffff;
  font-size: 30px;
  text-align: center;
	font-family: 'Poppins', sans-serif;
}

.interface h2 span {
  color: #c31c1c;
	font-family: 'Poppins', sans-serif;
}
